<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pluralsightfuncs20191008021456.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2b1da9f1-2af7-43fd-9d69-ccbf68e9cc02/resourcegroups/pluralsightfuncs/providers/Microsoft.Web/sites/pluralsightfuncs20191008021456</ResourceId>
    <UserName>$pluralsightfuncs20191008021456</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://pluralsightfuncs20191008021456.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>